*{
background-color: rgb(39, 38, 36);
}
.text{
    text-align: center;
    color:white;
}


.bio{
    text-align: justify;
    font-size: 22px;
}


.imagen{
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color: #e4d7d7;
    text-decoration: none;
}

a:hover{
    color: #2172ce;
}

p{
    color: #ddd1d1;
}

.img{
    text-align: center;
}

footer{
    background: #666;
    color: #000;
    text-align: center;
    padding: 20px 0;
    height: 80px;
    font-size: 18px;
   
}

